
@{
    ViewBag.Title = "Bienvenida";
}

<br />
<br />
<div class="container" align="center" style="right:1000px">
    <div class="row">
        <div class="col-md-4 "></div>
        <div class="col-md-4 animated zoomInLeft ">
            <div class="card" style="border:0px">
                <div class="card-header bg-info text-white text-center">
                    <h4 class="text-shadow">Contactos</h4>
                </div>
                <div class="card-body">
                    <img style="width:150px" src="http://www.adincord.com/images/registropng.png" /><br /><br />
                    <P class="text-justify">Esta agenda electrónica permite al usuario registrar contactos, como tambien editarlo, eliminarlo y enviar un mensaje por correo.    </P>
                    <a class="text-white btn btn-info btn-block" href="Contactoes/Create"><b>Registrar Contacto</b></a>
                    <a class="text-white btn btn-info btn-block" href="Contactoes/Index"><b>Lista de Contactos</b></a>
                </div>
            </div>
        </div> 
    </div>
</div>



